#box{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    --color-start: red;
    --color-end: blue;
    animation:empty 3s infinite;

}

@keyframes empty {
    from {
        background-color: var(--color-start);
    }
    to {
        background-color: var(--color-end);
    }
}
